* {
  box-sizing: border-box;
}
:root {
  --gradient-h1: linear-gradient(
    45deg,
    rgb(179, 4, 248, 0.7),
    rgb(48, 12, 255, 0.7),
    rgb(9, 66, 250, 0.7),
    rgb(75, 12, 210),
    rgb(70, 7, 200),
    rgba(92, 255, 114, 0.5),
    rgba(0, 255, 34, 0.5)
  );
  --gradient-body: linear-gradient(
    45deg,
    rgb(179, 4, 248, 0.7),
    rgb(48, 12, 255, 0.7),
    rgb(9, 66, 250, 0.7),
    rgb(9, 250, 170, 0.7),
    rgb(255, 124, 1, 0.7)
  );
}

body {
  background-image: var(--gradient-body);
  background-size: 200% 100%;
  min-height: 100vh;
  animation: h1-animation 8s infinite alternate;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
h1 {
  background-image: var(--gradient-h1);
  background-size: 200% 100%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 3rem;
  animation: h1-animation 8s infinite alternate;
}
@keyframes h1-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}

input:focus {
  outline: none;
  border: 2px solid rgb(234, 2, 255);
}
input {
  border-radius: 5px;
  border: 2px solid rgb(9, 250, 170);
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
/* .search-container input, */
.search-container .suggestions {
  display: none;
  border: 2px solid rgb(234, 2, 255);
  border-radius: 5px;
  background-color: rgba(92, 255, 114, 0.2);

  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  margin-top: 2px;
}

ul {
  margin-top: 5px;
}
li {
  margin-top: 5px;
}

ul li span {
  padding-right: 5px;
  padding-left: 5px;
}
.highlight {
  cursor: pointer;
  background-color: rgb(185, 185, 250);
  border-radius: 5px;
}

