*,
*::before,
*::after {
  box-sizing: border-box;
}
:root {
  --gradient-h1: linear-gradient(
    90deg,
    rgb(194, 79, 14),
    rgba(202, 106, 26),
    rgb(208, 125, 32),
    rgb(233, 200, 57)
  );
  --gradient-body: linear-gradient(
    90deg,
    rgb(233, 200, 57),
    rgb(218, 162, 44),
    rgb(208, 125, 32),
    rgba(202, 106, 26),
    rgb(194, 79, 14)
  );
}

body {
  background-image: var(--gradient-body);
  background-size: 100% 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  margin-top: 200px;
}
h1 {
  background-image: var(--gradient-h1);
  background-size: 500% 100%;
  background-clip: text;
  animation: h1-animation 8s infinite alternate;
  -webkit-background-clip: text;
  color: transparent;
  text-align: center;
  font-size: 3rem;
}
@keyframes h1-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
input {
  border-radius: 5px;
  border: 2px solid rgb(255, 158, 2);
  background-color: rgb(220, 163, 73);
  padding: 10px 5px;
}
input:focus {
  outline: none;
  border: 2px solid rgb(255, 2, 2);
}

.search-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}
/* .search-container input, */
.search-container .suggestions {
  display: none;
  border-radius: 5px;
  background-color: rgb(220, 163, 73);
  max-height: 300px;
  overflow-y: auto;
  width: 100%;
  margin-top: 0;
  margin-left: 0;
}

ul {
  margin-top: 0;
  list-style: none;
  padding-left: 0;
}
li {
  margin-top: 5px;
  padding: 8px 5px;
}
li:first-child {
  margin-top: 0;
}

.highlight {
  cursor: pointer;
  background-color: rgb(194, 79, 14);
}
